.w {
  width: 1200px;
  margin: 0 auto;
}
header {
  width: 1200px;
  height: 84px;
}
header .logo {
  margin-top: 20px;
  margin-bottom: 50px;
  border-bottom: 2px solid #c81523;
}
.registerarea {
  height: 522px;
  border: 1px solid #cccccc;
}
.registerarea h3 {
  height: 42px;
  background-color: #ececec;
  font-weight: normal;
  text-indent: 1em;
  line-height: 42px;
  border-bottom: 1px solid #cccccc;
}
.registerarea h3 .login {
  float: right;
  margin-right: 5px;
  text-align: center;
  font-weight: normal;
  line-height: 42px;
}
.registerarea h3 .login a {
  color: #c81523;
}
.registerarea .reg_form {
  width: 600px;
  margin: 50px auto 0;
}
.registerarea .reg_form li {
  margin: 0 0 20px;
}
.registerarea .reg_form li label {
  display: inline-block;
  width: 88px;
  text-align: right;
}
.registerarea .reg_form li .inp {
  width: 242px;
  height: 37px;
  border: 1px solid #cccccc;
}
.registerarea .reg_form li .error_icon,
.registerarea .reg_form li .success_icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(../images/error.png) no-repeat;
  margin-top: -2px;
}
.registerarea .reg_form li .success {
  color: green;
}
.registerarea .reg_form li .success_icon {
  background: url(../images/success.png) no-repeat;
}
.registerarea .reg_form .safe {
  padding-left: 170px;
}
.registerarea .reg_form .safe em {
  padding: 0 12px;
  color: white;
}
.registerarea .reg_form .safe .ruo {
  background-color: #de1111;
}
.registerarea .reg_form .safe .zhong {
  background-color: #40b83f;
}
.registerarea .reg_form .safe .qiang {
  background-color: #f79100;
}
.registerarea .reg_form .agree {
  height: 18px;
  padding-left: 95px;
}
.registerarea .reg_form .agree input {
  vertical-align: middle;
}
.registerarea .reg_form .agree a {
  color: #1ba1e6;
}
.registerarea .btn {
  width: 200px;
  height: 34px;
  background-color: #c81623;
  font-size: 14px;
  color: #fff;
  margin: 30px 0 0 70px;
}
.mod_copyright {
  text-align: center;
}
.mod_copyright div {
  margin-top: 20px;
}
.links {
  margin-bottom: 15px;
}
.links a {
  margin: 0 3px;
}
